<!DOCTYPE html>
<html lang="en">
{% include head.html %}

 <body>  
   
{% include sidebar.html %}

    <div class="container">

      <div class="page-header">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>{{ page.title }}</h1>
			
			{% if page.description %}
			<p class="lead">{{ page.description }}</p>
			{% endif %}
          </div>
        </div>
      </div>


      <!-- Containers
      ================================================== -->
      

        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
            </div>
            <div class="bs-component">
              <div class="jumbotron">		
				<p class="lead">{{ content }}</p>
              </div>
            </div>
          </div>
        </div>
      

{% include footer.html %}


    </div>
    <script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
  </body>
</html>
